<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

	<th:block th:fragment="sidebarFragment">
	  <aside class="main-sidebar sidebar-dark-primary elevation-4">
	    <!-- Brand Logo -->
	    <a th:href="@{/}" class="brand-link">
	      <img src="adminlte/dist/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
	           style="opacity: .8">
	      <span class="brand-text font-weight-light">StoreManager</span>
	    </a>
	
	    <!-- Sidebar -->
	    <div class="sidebar">
	      <!-- Sidebar user panel (optional) -->
	      <div th:if="${#authorization.expr('isAuthenticated()')}" class="user-panel mt-3 pb-3 mb-3 d-flex">
	        <div class="image">
	          <img src="adminlte/dist/img/profile.png" class="img-circle elevation-2" alt="User Image">
	        </div>
	        <div class="info" style="color: white;">
        			<span th:text="${session.name}"></span>님 반갑습니다.
	        </div>
	      </div>

	      <!-- Sidebar Menu -->
	      <!-- 로그인 -->
	      <nav th:if="${#authorization.expr('isAuthenticated()')}" class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          <li sec:authorize="hasRole('ROLE_ADMIN')">
	            <a th:href="@{/productManagement}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>제품관리</p>
	            </a>
	          </li>
	         <li sec:authorize="hasRole('ROLE_ADMIN')">
	            <a th:href="@{/userManagement?currentPage=1}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>회원관리</p>
	            </a>
	          </li>
	          <li sec:authorize="hasRole('ROLE_ADMIN')">
	            <a th:href="@{/orderView}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>발주조회</p>
	            </a>
	          </li>
	          
		      <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a th:href="@{/productView}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>제품조회</p>
	            </a>
	          </li>
	          <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a th:href="@{/stockView}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>재고조회</p>
	            </a>
	          </li>
		      <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
		        <a th:href="@{/order}" class="nav-link">
		          <i class="nav-icon fas fa-th"></i>
		           <p>발주신청</p>
		        </a>
		      </li>
		      <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a th:href="@{/orderManagement}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>발주관리</p>
	            </a>
	          </li>
		      <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a th:href="@{/sales}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>판매등록</p>
	            </a>
	          </li>
		      <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a th:href="@{/salesManagement}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>판매관리</p>
	            </a>
	          </li>
	          <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a th:href="@{/boardView?currentPage=1}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>게시판
	                <span class="right badge badge-danger">New</span>
	              </p>
	            </a>
	          </li>

		      <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_DIRECTOR')" class="nav-item">
	            <a href="#" class="nav-link active">
	              <i class="nav-icon fas fa-tachometer-alt"></i>
	              <p>통계<i class="right fas fa-angle-left"></i></p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a href="#" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>매출</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="#" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>매출분석</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	        </ul>
	      </nav>
	      <!-- 로그아웃 -->
	      <nav th:unless="${#authorization.expr('isAuthenticated()')}" class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">          
	          <li class="nav-item">
	             <a th:href="@{/user/signin}" class="nav-link">
	              <i class="nav-icon fas fa-th"></i>
	              <p>로그인 하세요
	              </p>
	            </a>
	          </li>
	        </ul>
	      </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	  </aside>
	</th:block>
</html>