<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/layout">

<th:block layout:fragment="content">
	<div class="container">
		<h3>판매목록, 판매관리</h3>

		<div class="custom-search-box">
			<table class="table-xs table-bordered" style="width: 100%">
		      <tr>
		        <td class="table-secondary">
		        	<span style="font-weight: bold;">품번 검색</span>
		        </td>
		        <td>
			        <div class="input-group" style="width: 347px;">
						<input style="height: 30px" autocomplete="off" type="text" class="form-control input-xs" id="productCode" placeholder="제품코드를 입력하세요.">
			  			<span  class="input-group-btn">
							<button class="btn btn-secondary btn-xs" id="findProductByProductCode" type="button">검색</button> 
			  			</span>
					</div>
		        </td>
		      </tr>
			  <tr>
		        <td class="table-secondary">
		        	<span style="font-weight: bold;">품명 검색</span>
		        </td>
		        <td>
			        <div class="input-group" style="width: 347px;">
						<input style="height: 30px" autocomplete="off" type="text" class="form-control input-xs" id="productName" placeholder="제품명을 입력하세요.">
			  			<span  class="input-group-btn">
							<button class="btn btn-secondary btn-xs" id="findProductByProductName" type="button">검색</button> 
			  			</span>
					</div>
		        </td>
		      </tr>		      
		      <tr>
		        <td class="table-secondary">
		        	<span style="font-weight: bold;">날자 검색</span>
		        </td>
		        <td>
					<div id="datePic">
						<input autocomplete="off" type="text" id="startDate" name="startDate" readonly>
						~
						<input autocomplete="off" type="text" id="endDate" name="endDate" readonly>
						<button class="btn btn-xs btn-secondary" id="findProductByDate" type="button">검색</button>
						<span style="font-size: 10px;">※시작일로부터 최대 3개월(90일) 이전 까지만 조회 가능합니다.</span>
					</div>
		        </td>
		      </tr>
	  		</table>
		</div>
		<div style="margin-bottom: 3px;">
			<button class="btn btn-success btn-xs" id="modifyBtn">동기화</button>
		</div>
		<div id="grid"></div>
		<p style="font-size: 11px;">
		   <strong>※판매수량 변경시 해당 품목의 현 재고수량 이하의 값만 입력이 가능합니다.</strong><br/>
		         ※작업을 완료하여 데이터 변경사항 발생시 동기화 버튼을 눌러야 서버에 저장됩니다.<br/>
		         ※작업 중 동기화 버튼을 누르지 않은 상태로 창을 닫거나 페이지이동 혹은 새로고침 하게되면 데이터가 저장되지 않습니다.<br/>
		         ※다수의 행을 변경 후 동기화 할때 한 행에 문제가 있을경우 데이터의 일관성 유지를 위해 모든 행의 정보가 서버에 반영되지 않습니다.<br/>
		         ※데이터 손실을 방지하기위하여 행 단위로 작업이 완료 될때마다 데이터를 동기화 시키는것을 추천합니다.</p>
	</div>
	<script>
		window.onload = function() {
			const grid = new tui.Grid({
				el : document.getElementById('grid'),
				data: {
					api: {
						readData: {url: 'salesManagement/salesList',method: 'GET'},
						modifyData: { url: '/salesManagement/modifySales', method: 'POST' },
					},
					initialRequest: false,
					contentType: 'application/json'
				},
				scrollX : true,
				scrollY : true,
			    minBodyHeight: 30,
			    pageOptions: {
			      useClient: true,
			      perPage: 10
			    },
				columns : [ {
					header : 'SEQ',
					name : 'salesSeq',
			        align: "center",
			        width: 30,
			        sortingType: 'desc',
			        sortable: true
				},{
					header : '판매일',
					name : 'salesDate',
			        align: "center",
			        width: 80,
			        sortingType: 'desc',
			        sortable: true
				}, {
					header : '제품번호',
					name : 'productCode',
			        align: "center",
			        width: 130,
			        filter: {
			         	type: 'text',
			         	operator: 'OR'
			       	}
				}, {
					header : '제품명',
					name : 'productName',
			        align: "center",
			        width: 160,
			        filter: {
			         	type: 'text',
			       	}
				}, {
					header : '분류',
					name : 'productType',
			        align: "center",
			        width: 90,
			        filter: {
			         	type: 'text',
			       	}
				}, {
					header : 'COLOR',
					name : 'productColor',
			        align: "center",
			        width: 100,
			        filter: {
			         	type: 'text',
			         	operator: 'OR'
			       	}
				}, {
					header : 'SIZE',
					name : 'productSize',
			        align: "center",
			        width: 60,
			        filter: {
			         	type: 'text',
			         	operator: 'OR'
			       	}
				}, {
					header : '개별단가',
					name : 'productSellingPrice',
			        align: "center",
			        width: 80,
			        sortingType: 'desc',
			        sortable: true,
		            formatter: ({value}) => {
		            	 result = Number(value);
		            	 return result.toLocaleString();
		            }
				}, {
					header : '판매수량',
					name : 'salesQuantity',
			        align: "center",
			        width: 80,
			        sortingType: 'desc',
				    editor: 'text',
			        sortable: true,
				    onAfterChange: (value) => {
				    	const row = grid.getRow(value.rowKey)
				    	grid.setValue(value.rowKey, 'salesPrice', row.productSellingPrice * row.salesQuantity)
				    }
				}, {
					header : '판매가격',
					name : 'salesPrice',
			        align: "center",
			        width: 125,
			        sortingType: 'desc',
			        sortable: true,
		            formatter: ({value}) => {
		            	return value.toLocaleString();
		            }
				}, {
					header : '특이사항',
					name : 'salesState',
				    editor: 'text',
			        align: "center",
			        width: 80,
			        sortingType: 'desc',
			        sortable: true
				}, {
					header : '판매지점',
					name : 'salesBranch',
			        align: "center",
			        width: 80,
			        sortingType: 'desc',
			        sortable: true
				}, {
					header : '취소',
					name : 'onDelete',
			        align: "center",
			        width: 80,
			        renderer: {
						type: deleteCustomRenderer
					}
				} ],
				summary: {
			        height: 40,
			        position: 'bottom',
			        columnContent: {
			        	productSellingPrice: {
				            template: () => {
				              return `합계:`;
				            },
			        	},
			        	salesQuantity: {
				            template: (valueMap) => {
				              return `${valueMap.sum} 개`;
				            },
			        	},
			        	salesPrice: {
				            template: (valueMap) => {
				              return `${valueMap.sum.toLocaleString()} 원`;
				            }
			          	}
			        }
				}
			});     
			
			modifyBtn.addEventListener('click', () => {
		    	grid.request('modifyData');
		      });
			
			const Grid = tui.Grid;
			Grid.setLanguage('en');
			Grid.setLanguage('ko');
			Grid.setLanguage('en-US', {
			     display: {
			         noData: 'No data.',
			         loadingData: 'Loading data.',
			     },
			     net: {
			         confirmDelete: '확인 버튼을 누르면 {{count}}개의 행을 제거합니다.',
				     confirmModify: '확인 버튼을 누르면 {{count}}개의 수정된 행을 동기화 시킵니다.',
				     noDataToModify: '변동된 데이터가 없습니다.',
				     failResponse: '데이터 요청 중에 에러가 발생하였습니다.\n다시 시도하여 주시기 바랍니다.'
			     }
			});
			
			function deleteCustomRenderer(props) {
				const row = grid.getRow(props.rowKey)
				let el = document.createElement(null);
					el = document.createElement('button');
					el.className = 'btn btn-danger btn-xs';
					el.innerHTML = "취소";
					el.addEventListener('click', function(event) {
					    grid.removeRow(props.rowKey)
					})
		    this.el = el;
		    this.render(props);
			}
			deleteCustomRenderer.prototype.getElement = function() {
				return this.el;
			}
			deleteCustomRenderer.prototype.render = function(props) {
				this.el.value = props.value;
			}

			const currentBranch = '[[${session.branch}]]'
			
			$(function() {
				$.ajax({
					url : "/salesManagement/salesList?currentBranch="+currentBranch,
					type : "GET",
					contentType: 'application/json',
					success : function(result) {
						grid.resetData(result.data.contents);
					},
			        error: function(jqXHR, exception){
			            if (jqXHR.status == 400) {
			                alert(jqXHR.responseText);
			            } else
			            	alert("error")
			        }
				});
			});
			grid.on('response', ev => {
				  const {response} = ev.xhr;
				  const responseObj = JSON.parse(response);
				  if(responseObj.result === true){
						if(responseObj.data === true){
							var header = $("meta[name='_csrf_header']").attr("content");
							$.ajax({
								url : "/salesManagement/salesList?currentBranch="+currentBranch,
								type : "GET",
								contentType: 'application/json',
								success : function(result) {
									grid.resetData(result.data.contents);
								},
						        error: function(jqXHR, exception){
						            if (jqXHR.status == 400) {
						                alert(jqXHR.responseText);
						            } else
						            	alert("error")
						        }
							});
						}
				  } else if(responseObj.result === false){
					  setTimeout(function(){ 
						  alert("입력 데이터의 형태가 부적절하여 작업을 완료하지 못하였습니다.\n" + responseObj.message); 
						  }, 100);
				  	}
			});
			
			findProductByProductCode.addEventListener('click', () => {
				var header = $("meta[name='_csrf_header']").attr("content");
				var productCode = $("#productCode").val();
				var jsonData = {
					"productCode" : productCode,
					"currentBranch" : currentBranch
				}
				$.ajax({
					url : "/salesManagement/searchProductCode",
					type : "POST",
					data: JSON.stringify(jsonData),
					contentType: 'application/json',
					success : function(result) {
						grid.resetData(result);
					},
			        error: function(jqXHR, exception){
			            if (jqXHR.status == 400) {
			                alert(jqXHR.responseText);
			            } else
			            	alert("error")
			        }
				});
		      });
			
			findProductByProductName.addEventListener('click', () => {
				var header = $("meta[name='_csrf_header']").attr("content");
				var productName = $("#productName").val();
				var jsonData = {
					"productName" : productName,
					"currentBranch" : currentBranch
				}
				$.ajax({
					url : "/salesManagement/searchProductName",
					type : "POST",
					data: JSON.stringify(jsonData),
					contentType: 'application/json',
					success : function(result) {
						grid.resetData(result);
					},
			        error: function(jqXHR, exception){
			            if (jqXHR.status == 400) {
			                alert(jqXHR.responseText);
			            } else
			            	alert("error")
			        }
				});
		      });
			
			findProductByDate.addEventListener('click', () => {
				const header = $("meta[name='_csrf_header']").attr("content");
				const startDate = $("#startDate").val();
				const endDate = $("#endDate").val();
				
				const resultStartDate = startDate.replace(/\-/g,'');
				const resultEndDate = endDate.replace(/\-/g,'');
				const newStartDate = new Date(resultStartDate.substring(0,4), resultStartDate.substring(4,6), resultStartDate.substring(6,8))
				const newEndDate   = new Date(resultEndDate.substring(0,4), resultEndDate.substring(4,6), resultEndDate.substring(6,8))
				const interval =  ( newStartDate - newEndDate) / (1000 * 60 * 60 * 24)	  
	   			if (startDate === '' || endDate === ''){
	   				alert('조회기간을 입력해주세요.')
	   				return
	   			} else if (interval > 90 || interval < 0) {
	   				alert('조회기간을 ' + 90 + '일 이내로 입력해주세요.')
	   				return
	   			}
	   			
				const jsonData = {
							'startDate' : startDate, 
							'endDate' : endDate,
							"currentBranch" : currentBranch
					};
	 			$.ajax({
					url : "/salesManagement/searchSalesDate",
					type : "POST",
					data: JSON.stringify(jsonData),
					contentType: 'application/json',
					dataType: 'json', 
					success : function(result) {
						grid.resetData(result);
					},
			        error: function(jqXHR, exception){
			            if (jqXHR.status == 400) {
			                alert(jqXHR.responseText);
			            } else
			            	alert("error")
			        }
				});
		      });
			
			$(function() {
		          $("#productCode").autocomplete({
		              source : function( request, response ) {
						   var jsonData = {
							   "input" : request.term,
								"currentBranch" : currentBranch
						   }
		                   $.ajax({
		                          url: "/salesManagement/autoCompleteProductCode",
		                          type: 'POST',
		                          dataType: "json",
		      					  contentType: 'application/json',
		      					  data: JSON.stringify(jsonData),
		                          success: function(data) {
		                              response(
		                                  $.map(data, function(item) {
		                                      return {
		                                          label: item,
		                                          value: item
		                                      }
		                                  })
		                              );
		                          }
		                   });
		              },
		              focus : function(event, ui) {
		                  return false;
		              },
		              minLength: 1,
		              autoFocus: true,
		              delay: 100
		          });
		          $("#productName").autocomplete({
		              source : function( request, response ) {
						   var jsonData = {
							   "input" : request.term,
								"currentBranch" : currentBranch
						   }
		                   $.ajax({
		                          url: "/salesManagement/autoCompleteProductName",
		                          type: 'POST',
		                          dataType: "json",
		      					  contentType: 'application/json',
		      					  data: JSON.stringify(jsonData),
		                          success: function(data) {
		                              response(
		                                  $.map(data, function(item) {
		                                      return {
		                                          label: item,
		                                          value: item
		                                      }
		                                  })
		                              );
		                          }
		                   });
		              },
		              focus : function(event, ui) {
		                  return false;
		              },
		              minLength: 1,
		              autoFocus: true,
		              delay: 100
		         });  
				
	            //모든 datepicker에 대한 공통 옵션 설정
	            $.datepicker.setDefaults({
	                dateFormat: 'yy-mm-dd' //Input Display Format 변경
	                ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
	                ,showMonthAfterYear:true //년도 먼저 나오고, 뒤에 월 표시
	                ,changeYear: true //콤보박스에서 년 선택 가능
	                ,changeMonth: true //콤보박스에서 월 선택 가능                
	                ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
	                ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
	                ,buttonImageOnly: true //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
	                ,buttonText: "선택" //버튼에 마우스 갖다 댔을 때 표시되는 텍스트                
	                ,yearSuffix: "년" //달력의 년도 부분 뒤에 붙는 텍스트
	                ,monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'] //달력의 월 부분 텍스트
	                ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip 텍스트
	                ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 부분 텍스트
	                ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 부분 Tooltip 텍스트
	                //,minDate: "-90D" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
	                ,maxDate: "today" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)                    
	            });
	            //input을 datepicker로 선언
	            $("#startDate").datepicker();                    
	            $("#endDate").datepicker();
	            //startDate의 초기값을 오늘 날짜로 설정
	            $('#startDate').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
	            //endDate의 초기값을 내일로 설정
	            $('#endDate').datepicker('setDate', '-1D'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
	        });
		}
	</script>
</th:block>
</html>